    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me.</h2>
              <br/>
                <p>Hi, I am a Software Engineer, currently based in London, and working for Expedia's Hotels.com as an Associate Software Dev Engineer. There, I am part of Customer Retention Team (CRT), which is responsible for designing and building technical solutions on how customers are identified, sign up for an account and sign in to their account.</p>
                <p>I completed the MEng in the department of <a href="http://ee.auth.gr/en/">Electrical and Computer Engineering</a> at Aristotle University of Thessaloniki, and was awarded the MSc in Computer Science from the <a href="http://www.ed.ac.uk/">University of Edinburgh</a>, with Distinction.</p>
                <p>My interests lie mainly in the field of Software Engineering, while I have a keen interest in the field of Data Mining, and primarily in the Mining Software Repositories research area. You may find my <a href="http://mantissa.ee.auth.gr/">Mantissa</a> RSSE system useful if you code in Java.</p>
                <p>During my MEng studies in Greece I was part of the <a href="http://contests.ee.auth.gr/index.html">AUTH Programming Contests</a> team, where I focused on organising online programming contests for undergraduate students at the School of Electrical and Computer Engineering at Aristotle University of Thessaloniki.</p>
                <br/>
              </div>
        </div>
    </section>
